button.btn {
  padding: 10px 20px;
}
.form-group {
  margin-right: 30px;
}
.form-group {
  width: 300px;
  height: 50px;
}
#result {
  width: 500px;
  height: 50px;
  margin-top: 30px;
  margin-left: 5px;
}
